<section class="home">
  <div class="home-content">
    <h1>Hi, I’m <span>Kinjal Chaudhari</span></h1>
    <h2>I’m a <span class="changing-text">{{ currentRole }}</span></h2>
    <p>Welcome to my portfolio website</p>
    <!-- Resume Download Button -->
  <!-- Resume Download Button -->
   <a href="/resume.pdf" target="_blank">
  <button class="resume-btn">📄 View Resume</button>
   </a>

   <a href="/resume.pdf" download>
  <button class="resume-btn">⬇️ Download Resume</button>
  </a>

  </div>
</section>
